html, body{
	height: 100%;
	width: 100%;
}

body{
	min-width: 1090px;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

html{
/*background: url(soccerBall.jpg) no-repeat center center fixed;*/
/*background-size: cover;*/
/*background: url(soccerBall.jpg) no-repeat center center fixed;
background-size: cover;*/
min-width: 950px;
}

h1{
	color: #C9040E;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 50px;
	
	 text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    margin-top: -200px;
}

.quizinfo{
	
margin-right: auto;
margin-left: auto;
margin-top: 50px;
text-align: center;
background-color: rgba(82, 147, 27, .8);
/*background: background: url(soccerBall.jpg) no-repeat center center fixed;;
background-size: cover;*/
height: 450px;
width: 600px;
border-radius: 10px;
}

/*#answer1, #answer2, #answer3, #answer4{
	display:block;
}*/

#header{
	display:inline;
}
/*#left{
	float: left;
}*/
.answers{
	text-align: left;
	margin-top:5px;
	margin-left: 50px;
	/*background-color: rgba(82, 147, 27, .8);*/
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    font-family: 'Neuton', serif;
}

#answer1, #answer2, #answer3, #answer4{
	padding: 5px;
	height: 50px;
	/*background-color: rgba(82, 147, 27, .8);*/
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    font-family: 'Neuton', serif;
}

#counter{
	/*background-color:rgba(82, 147, 27, .8);*/
	height:50px;
	font-size: 30px;
	padding-top: 15px;
	color:white;
	border-radius: 10px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
.question{
	/*background-color: rgba(82, 147, 27, .8);*/
	height:65px;
	font-size: 20px;
	padding-top: 10px;
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.submit{
	border-radius: 8px;
	font-size: 15px;
	background-color: #FFD819;
	color: black;
}

#score{
	height: 20px;
	float: right;
	margin-right: 120px;
	margin-top: 50px;
	font-size: 20px;
	font-weight: bold;
	background-color: #C9040E;
	padding: 5px;
	color: white;
}



